<launch>

    <arg name="rviz" default="true" />
    <arg name="slam_method" default="carto" doc="method type [rtab, carto]" />

    <!-- Cartographer localization -->
    <include if="$(eval 'carto' in arg('slam_method'))"
        file="$(find carto_slam)/launch/cartographer_localization.launch" />

    <!-- Rtab localization -->
    <include if="$(eval 'rtab' in arg('slam_method'))"
        file="$(find rtab_slam)/launch/rtab_localization.launch" />

    <!-- navigation -->
    <include file="$(find navigation)/launch/navigation.launch">
        <arg name="open_rviz" value="$(arg rviz)" />
    </include>

    <!-- navigation controller -->
    <node pkg="rmus_solution" type="navi_control.py" name="shadow_router" output="screen"></node>

</launch>
