<launch>

    <!-- <node pkg="rmus_solution" type="manipulator.py" name="shadow_aligner" output="screen" /> -->
    <!-- <node pkg="rmus_solution" type="img_processor.py" name="img_process_node" output="screen"
    /> -->
    <node pkg="rmus_solution" type="play_game_debug.py" name="game_top_node" output="screen" />
</launch>